* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(205, 170, 123);
}

.container {
    padding: 30px;
}

.contain {
    margin: 20px 30px;
}

button {
    float: left;
    height: 40px;
    width: 80px;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    border-radius: 10px;
}

button :hover {
    background-color: rgb(56, 54, 54);
}

h4 {
    float: right;   
}
    
h1 {
    margin-top: 80px;
    text-align: center;
}

p {
    margin-top: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.left-right {
    display: flex;
    justify-content: space-between;
}

.left {
    margin-top: 250px;
    display: flex;
    align-items: center;
    margin-left: 200px;
}

input[type="number"] {
    height: 50px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.left button {
    margin: 10px;
}

.right {
    margin-top: 180px;
    margin-right: 200px;
}

label, #txt {
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#txt {
    margin-bottom: 20px;
}

#score, #highScore {
    display: inline;
}